.full-height {
  height: 92%;
}

.mat-sidenav{
  width: 10%;
  min-width: 230px;
  overflow: hidden;
}

.mat-nav-list{
  overflow: hidden;
}

.mat-sidenav .mat-list-item{
  width: 85%;
  padding: 10px 18px;
  font-size: 1em;
  overflow: hidden;
}

.mat-sidenav-content{
  padding: 0 1vw;
}
